[submodule "catkin_ws/src/mit_racecar/racecar"]
	path = catkin_ws/src/mit_racecar/racecar
	url = https://github.com/mit-racecar/racecar
[submodule "catkin_ws/src/mit_racecar/racecar_gazebo"]
	path = catkin_ws/src/mit_racecar/racecar_gazebo
	url = https://github.com/mit-racecar/racecar_gazebo
